{%extends 'base.html'%}

{%block content%}

<h1>News Highlights!</h1>
<div class="row">
    <div class="col-md-4">
        <h2> General News</h2>
        <ul>
          {%for news_sources in general%}
          <p>{{news_sources.name}}</p><p>{{news_sources.description}}</p>
          {%endfor%}
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Sports</h2>
        <ul>
          {%for news_sources in sports%}
          <p>{{news_sources.name}}</p><p>{{news_sources.description}}</p>
          {%endfor%}
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Business</h2>
        <ul>
          {%for news_sources in business%}
          <p>{{news_sources.name}}</p><p>{{news_sources.description}}</p>
          {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}
